extends layout

block content
	a.btn.btn-primary(href='/new') New message

	ul
		each msg in messages
			li
				h3.text-primary #[strong #{msg.text}]
				hr
				div.container
					div.row
						div(class='col-sm-4 no-padding')
							p #{msg.user}
						div(class='col-sm-8 no-padding')
							p.text-sm-right #{msg.mdy_format(msg.added)}
